.debugPanel {
  height: 100px;
}
body {
  margin: 0;
}

.hidden {
  display: none;
}
.menu {
  position: absolute;
  background: #aaa;
}

.menu .menuOption {
  padding: 5px;
}

.menu .menuOption[data-selected="true"] {
  border: 2px solid #fff;
}