<html>
  <head>
    <link rel="stylesheet" href="styles/main.css">
    <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
  </head>
  <body>

    <!-- TEMPLATES -->
    <script type="text/template" class="template" data-template-name="debugPanel">
      <div class="debugPanel">
        <a class="regen" href="#">Regenerate Dungeon</a>
        <div class="lastAction" />
      </div>
    </script>

    <script type="text/template" class="template" data-template-name="characterMovesMenu">
      <div class="menu characterMovesMenu hidden">
        <% _.each(moves, function (move, i) { %>
          <div class="menuOption move <%= move.classes %>" data-index="<%= i %>" data-move-type="<%= move.type %>" data-selected="<%= i ? false : true %>">
            <%= move.displayName %>
          </div>
        <% }); %>
      </div>
    </script>
    <!-- END TEMPLATES -->

    <div id="game"></div>
    <div id="menus"></div>
    <div id="debugPanel"></div>
  </body>
</html>